{% extends 'base.html' %}

{% block content %}
<div style="max-width:700px; margin:40px auto; text-align:center;">

    <h2 style="font-weight:600; margin-bottom:10px; color:#2A2A2A;">
        Get in Touch
    </h2>

    <p style="font-size:20px; color:#555; margin-bottom:25px;">
        For any queries, collaboration, or feedback regarding this project, please reach out:
    </p>

    <div style="text-align:left; margin:0 auto; font-size:18px; line-height:1.8; color:#090909; max-width:450px;">
        

        <p><b>Project Guide:</b> Prof. Suraj Kadli</p>

        <p><b>Team Members:</b></p>
        <ul style="list-style: none; padding-left: 0;">
            <li>Shreya Kallapur - 2VD22EC100</li>
            <li>Shrivatsa Deshpande - 2VD22EC103</li>
            <li>Sidharth Dindalakopp - 2VD22EC104</li>
            <li>Surabhi Kulkarni - 2VD22EC110</li>
        </ul>
    </div>

    <p style="margin-top:20px; font-size:25px; color:#666;">We appreciate your interest in our project!</p>

</div>
{% endblock %}
